/* TaskBoardStyles.css */
.task-board {
    margin-top: 20px;
    background-color: #f0f0f0cc;
    padding: 1em 0.5em 1em;
    border-radius: 8px
  }

  .task-board h2 {
    font-size: 2rem;
    margin: 1em auto;
  }
  
  .column {
    border-radius: 8px;
    padding: 10px;

  }
  
  .column-header {
    text-align: center;
    margin: 1.5em auto;
  }

  .column span, .column p {
    font-size: 15px;
    font-weight: 800;
  }
  
  .column.high {
    border-top: 5px solid red;
  }
  
  .column.medium {
    border-top: 5px solid orange;
  }
  
  .column.low {
    border-top: 5px solid green;
  }

  .column.lower {
    border-top: 5px solid deepskyblue;
  }

  .column.high span {
    color: #D3212C;
  }
  
  .column.medium span {
    color: #FF980E;
  }
  
  .column.low span {
    color: #069C56;
  }

  .column.lower span {
    color: deepskyblue;
  }
  
  .task-card {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    cursor: grab;
    font-size: 14px;
  }
  