.listItems {
    text-align: left;
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
    padding: 1em 0;
    border-radius: 6px;
}

.sidebar {
    background: linear-gradient(90deg, #8697C4 0%, #ADBBDA 100%);
    height: 100%;
}

.purpleBg {
    background: linear-gradient(90deg, #8697C4 0%, #ADBBDA 100%);
}

.listItemHeader {
    border: none;
    padding: 1.5em 0.5em;
}

.listGroupItem{
    font-size: 18px;
    font-weight: 800;
    margin: 1em;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 6px;
    cursor: pointer;
    text-transform: capitalize;
}

.listGroupItem:hover {
    background-color: var(--darkYellow);
    color: #ffffff;
}

.listItems li img {
    width: 1.5em;
    height: auto;
}

.listItemHeader img {
    width: 2em !important;
    height: 2em !important;
}

.listItemHeader p span {
    font-size: 16px;
    font-weight: 900;
}

.listGroupItem.activeMenuItem::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 2.5em;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    transform: translateY(-50%);
}

/* Submenu */
.submenu {
    background: linear-gradient(90deg, #8697C4 0%, #ADBBDA 100%);
    left: 20em;
    position: absolute;
    top: 40%;
    width: max-content;
    border-radius: 8px;
}

.submenu li {
    background: linear-gradient(90deg, #8697C4 0%, #ADBBDA 100%);
}